html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.25em;
}

body {
	margin: 0;
}

.main {
	margin-top: 7%;
	padding: 10px;
}

#nav {
	position:fixed;
	text-transform:uppercase;
	font-weight:600;
	font-size:1.125em;
	line-height: 2.4;
	padding:1% 0;
	background: #19334d;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
}
	
#nav ul {
	padding:0;
	margin:0;
	background: #fff;
}
	
#nav li {
	display:inline-block;
	padding:0.5em 0.5em;
}

#nav a {
	color:#333333;
	text-decoration:none;
}
	
#nav a:hover {
	border-bottom:4px solid #19334d;
}

#mobileMenu {
	display: none;
}

.nav-item-icon img {
	height: 48px;
	width: 48px;
	position: relative;
	top: 15px;
}

#mobileMenu .nav-item-icon {
	display: none;
}


@media only screen and (max-width: 767px) {
	.js #nav {
		display:none;
	}
	
	.js #mobileMenu {
		display:block;
		position:fixed;
		width:100%;
		z-index:1000;
		top: 0;
	}
	
	.js #nav {
		text-align:center;
	}

	#nav {
		position:relative;
		padding-top:3.375em;
	}

	.main {
		margin-top: 7%;
	}
}

.clear {
	clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}