html, body, .main {
	height: 100%;
}

html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.55em;
}

body {
	margin: 0;
	background-image: url("./Images/beer-background.jpg");
	background-position: center center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #ffd633;
}

.main {
	margin-top: 6.5%;
	font-weight: 500;
    padding: 2% 2% 0 2%;
	width: 100%;
}

/*Navigation*/
#nav {
	position:fixed;
	text-transform:uppercase;
	font-weight:600;
	font-size:1.125em;
	line-height: 2.4;
	padding:1% 0;
	background: #19334d;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
}
	
#nav ul {
	padding:0;
	margin:0;
	background: #fff;
}
	
#nav li {
	display:inline-block;
	padding:0.5em 0.5em;
}

#nav a {
	color:#333333;
	text-decoration:none;
}
	
#nav a:hover {
	border-bottom:4px solid #19334d;
}

#mobileMenu {
	display: none;
}

.nav-item-icon img {
	height: 48px;
}

#mobileMenu .nav-item-icon {
	display: none;
}

.mobile-nav-header-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
.mobile-nav-icon {
	height: 50px;
	width: 50px;
}

.mobile-nav-header {
	color: white;
	font-size: 0.9em;
}

.standalone-img {
    height: 480px;
}

/*Video Player*/
.fhb-video-player {
	width: 90%;
	margin: 0 5% 0 5%;
	height: 720px;
}

/*Mobile Layout*/
@media screen and (max-width: 75em) {
	html {
		font-size: 1.25em;
	}

	.js #nav {
		display:none;
	}
	
	.js #mobileMenu {
		display:block;
		position:fixed;
		width:100%;
		z-index:1000;
		top: 0;
	}
	
	.js #nav {
		text-align:center;
	}

	#nav {
		position:relative;
		padding-top:3.375em;
	}

	.main {
		padding: 5% 5% 0 5%;
	}

	.slick-carousel-wrapper {
		position: relative;
		left: 7%;
		width: 90%
	}

	.slick-carousel img {
		max-height: 400px;
	}

	.standalone-img {
		max-height: 400px;
	}

	.fhb-video-player {
		height: 420px;
	}
	/*
		I can't explain this one below at all.  On SOME phones, this style doesn't get applied.  It doesn't even show up
		in the inspector as even getting included in the bundled CSS.  Perhaps it's an issue with the bundler?
	*/
	.slick-next, .slick-prev {
		position: absolute;
	}
}

.clear {
	clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.italics {
	font-style: italic;
}