@{
    ViewBag.Title = "Brew Day";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Brew Day</h1>

<h2>SANITIZE, SANITIZE, SANITIZE!</h2>

<h2>Steep your specialty grains.</h2>

<h2>Adding malt extract</h2>

<h2>Adding hops</h2>

<h2>Cooling the wort</h2>

<h2>Transferring the wort to the carboy</h2>

<h2>Adding the yeast</h2>

<h2>Storing the carboy for fermentation</h2>
