@{
    ViewBag.Title = "Preparation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Preparation</h1>

<h2>Brewing vs. Fermenting vs. Bottling</h2>

<p>
	The art of brewing beer can be incredibly complex if you want it to be. There are infinitely many styles of beer, and infinitely many algorithms for
	producing the finished product. For this lesson, we are going to keep it really, really simple.
</p>

<h3>Brewing:</h3>
<img class="standalone-img" alt="boiling wort" src="https://docs.google.com/uc?id=1cAGtZ7-hkIBBrnbrWuLr2x2Q3alt7otOiA"/>
<ol>
	<li>Boil your wort (a combination of liquid malt extract, dry malt extract, hop pellets, and optionally specialty grains).</li>
	<li>Let it cool.</li>
	<li>Transfer the wort to a separate, sealed containter (the carboy).</li>
	<li>Add yeast to the carboy and seal it up.</li>
</ol>

<h3>Fermenting:</h3>
<img class="standalone-img" alt="beer fermenting" src="https://docs.google.com/uc?id=0B85D69XD8RQoS0Jkb0JYLWpxNDg"/>
<ol>
	<li>
		Wait 7 - 10 days for the yeast to make sugar --> alcohol + carbon-dioxide.
	</li>
	<li>
		If you choose, you can "dry-hop" your beer before bottling. "Dry-hopping" is a technique where you simply add dry hops to your wort after
		primary fermentation is complete and just let it sit for an extra week. The technique adds additional hop flavors to your brew.
	</li>
</ol>

<h3>Bottling:</h3>
<img class="standalone-img" alt="bottling beer" src="https://docs.google.com/uc?id=0B85D69XD8RQoWFM3eDZGeXY3MDQ" />
<ol>
	<li>
		Transfer your beer to the bottling bucket.
	</li>
	<li>
		Add sugar water to the mixture and gently stir. This sugar water will provide the yeast a last surge of fuel to generate the carbon-dioxide that will
		carbonate the beer.
	</li>
	<li>
		Using the bottling bucket and bottle filler, transfer the beer to bottles.
	</li>
	<li>
		Cap the bottles.
	</li>
</ol>


<h2>Make sure you at least have the equipment for brewing</h2>

<p>
    You can go ahead and brew before you finish getting all of the equipment. Just keep in mind that you only
    have 1 - 2 weeks to finish acquiring the equipment necessary to bottle. You can find the equipment necessary
    for <i>just</i> the brewing process on the <a href="@Url.Action("Index", "BrewDay")">Brew Day</a> page.
</p>

<h2>Assemble your equipment and wash it</h2>

<p>
    You'll need to put your brew kettle and propane burner together. Follow the instructions with your
    propane burner to hook it up. It's pretty darn simple though. You should definitely check for gas
    leaks before starting to boil if you value your life and your house. I have included pictures below
    of me assembling my brew kettle. Finally, wash all of the equipment for brew day with odor-free,
    dye-free soap before you boil. It just arrived from the factory and you want to get any plastic or metal
    remnants off before brewing. You should do this again on subsequent brews to make sure everything
    is totally clean before sanitizing.
</p>

<div class="slick-carousel">
	<img src="https://docs.google.com/uc?id=1vDi4Jrd9JzRD_mNK_HnLvaUgRZf5qiRqiQ" alt="Kettle Assembly" />
	<img src="https://docs.google.com/uc?id=1CGiY0IGpEM_P69jJ6OsS8ELqSXsyiCcOtQ" alt="Kettle Assembly" />
	<img src="https://docs.google.com/uc?id=1nPd8hNXm3tO7vzAlvUlO2nFtC_xgW9Yzow" alt="Kettle Assembly" />
	<img src="https://docs.google.com/uc?id=17sAgR0nrkvNm2qU5YkVEHyDh2ceaGyD4rw" alt="Kettle Assembly" />
	<img src="https://docs.google.com/uc?id=1l2S8eL3fuUrGb5Wq4fnsWTYNt5LSyMshYg" alt="Kettle Assembly" />
	<img src="https://docs.google.com/uc?id=19wU076zMNieyfcYIKIMGKumNI4Kzfrwrgw" alt="Kettle Assembly" />
	<img src="https://docs.google.com/uc?id=1Su8Verpa0t4g-EAAytaJNQUObwhWMdxygA" alt="Kettle Assembly" />
	<img src="https://docs.google.com/uc?id=1c4W2fVY-7wlnUsIrvAli0vOLMM63Jto-hQ" alt="Kettle Assembly" />
</div>

<h2>Do a test boil with your new kettle</h2>
<img class="standalone-img" src="https://docs.google.com/uc?id=1biummNWoJCSRUQYFehZlZhJKeezbocZaGw" alt="Kettle Assembly"/>

<p>
    It would suck really bad if you started boiling your ingredients and your kettle sprung a leak. Everything
    would be too hot to try and fix the leak and you could end up with a serious mess. To test it, add 5 gallons
    of tap water to it, bring it to a boil, and hold it for ~15 minutes. Closely check for anything dripping out.
    You can do this by putting a totally dry piece of cardboard underneath the kettle to make any droplets more
    visible.
</p>

<h2>Read the instructions that come with your ingredients kit</h2>

<p>
    You need a pretty solid idea of exactly what you're going to do when you're brewing. You don't
    want to be making up your hop schedule (discussed in more detail on the <a href="@Url.Action("Index", "BrewDay")">Brew Day</a> page)
    as you go. Pretend you'll have to give a detailed speech about how to brew your exciting new beer recipe.
    You know, like they do on those cooking shows? The chefs aren't just making crap up or winging it.
    They've chopped up their vegetables, measured all of their spices, and they have the steps down in their head.
    This step may seem obvious and trivial, but I'm trying to prevent you from getting all excited, getting
    ahead of yourself, and screwing it all up.
</p>

