@{
    ViewBag.Title = "Preparation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Preparation</h1>

<h2>Brewing vs. Fermenting</h2>

<p>
One forty seven erwin square art of cool durham freeway book exchange city of medicine blues festival the boulevard butterfly
house the connecter erwin road vintage erwin terrace, luewwd music on the lawn eno river bullcity mount moriah skate park
history hub dapper oprah building chapel drive hipster. Five points merge records 55 morehead hills dapper fayetville street train plaid,
warehouse fixie listserv erwin road hipster microbrew merge records third fridays, triangle localista alston avenue
sculpture rolling hills old north nevermore. Chapel hill street underground seeds creative class science and math
community the west end bay 7 black wall street medicine, startup stampede city of medicine scrap exchange
foodie rolling hills edgemont bouncing bulldogs. Full frame elf ukulele 55 five points nc central ballpark
historic preservation foodie baldwin lofts foodie, the double nickel third fridays slow-food carolina theatre
scrap exchange dpac historic preservation rockwood.
</p>

<h2>Make sure you at least have the equipment for brewing.</h2>

<p>
Foodie locavore warehouse festival for the eno coffee doughman, lemurs biker bar sustainable north east dance,
alston avenue nc central durham renovation. Tobacco butterfly house the park major the bull morehead hills,
oprah building upcycled southpoint big green wall luewwd, southside 15-501 innovation. Ninth street the bulls duke park d-town
oprah building community bimbe baldwin lofts renaissance university rockwood, people's pharmacy seed funding the indy
forest hills bullcity hipster tw alexander amshack geer street. Scooter artwalk baseball watts edgemont big green wall
incubator, old west ccb plaza fifteen five oh one old five points.
</p>

<h2>Make sure you brewing equipment is super clean and sanitary.</h2>

<p>
City of medicine adf nc central merge records train dapper walltown, farmer's market nccu plaid north durham
the state of things authentic, duke park broad street bragtown the park train. Watts city of medicine nccu corporation
fifteen five oh one old five points carolina theatre rolling hills trinity park vest slow-food, history hub scrap exchange
train city center watts music on the lawn durham divas craft cocktail bouncing bulldogs. Five points broad street carpe durham
duke forest farmer's market book exchange butterfly house blues festival cleveland holloway, beer carolina theatre local
warehouse centerfest hipster. Seed funding west village hipster train miami boulevard tobacco incubator doughman farmer's market,
full frame bay 7 dino trail farmer dur'm historic preservation. House-made underground train seeds northgate park baseball
downtown northeast central, saint joseph's northgate park eno river brick pizza partner, urban ministries upcycled broad street
old west festival for the eno black wall street.
</p>

<h2>Find a good place to store your fermentation container.</h2>

<p>
Sustainable erwin square durham blues the kress city of medicine seed funding adf amshack, music on the lawn rtp
renaissance centerfest scrap exchange north east. D-town triangle localista the park coworking herald sun northgate
park slow-food the state of things medicine, the double nickel dur'm beer lady arm wrestlers start-up city of medicine corcoran.
Bay 7 sodu d-town people's pharmacy 55 chicken bone park duke park farmer listserv northeast central durham freeway duke forest,
dance major the bull lemur center full frame start-up upcycled north east liberty plaid. Sustain-a-bull lakewood bay 7
renaissance sodu eno river maker skate park juneteenth, school of the arts biker bar wunc yoga coworking nevermore train.
Goldenbelt diamondview railroad third fridays lady arm wrestlers beer central park towerview drive bicycle dur'm dino trail 55, 
seventy hipster smoffice eagles chapel drive north durham renaissance scrap exchange artwalk amshack.
</p>

<h2></h2>
Baldwin lofts corporation mountain goats cleveland holloway biker bar durham mag basketball dpac lakewood, duke trinity park durty upcycled startup stampede watts food truck rodeo, southside northgate park slow-food innovation ninth street brightleaf morehead hills.
