@{
    ViewBag.Title = "Preparation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Preparation</h1>

<h2>Brewing vs. Fermenting vs. Bottling</h2>

<p>
	The art of brewing beer can be incredibly complex if you want it to be. There are infinitely many styles of beer, and infinitely many algorithms for
	producing the finished product. For this lesson, we are going to keep it really, really simple.
</p>

<h3>Brewing:</h3>
<ol>
	<li>Boil your wort (a combination of liquid malt extract, dry malt extract, hop pellets, and optionally specialty grains).</li>
	<li>Let it cool.</li>
	<li>Transfer the wort to a separate, sealed containter (the carboy).</li>
	<li>Add yeast to the carboy and seal it up.</li>
</ol>

<h3>Fermenting:</h3>
<ol>
	<li>
		Wait 7 - 10 days for the yeast to make sugar --> alcohol + carbon-dioxide.
	</li>
	<li>
		If you choose, you can "dry-hop" your beer before bottling. "Dry-hopping" is a technique where you simply add dry hops to your wort after
		primary fermentation is complete and just let it sit for an extra week. The technique adds additional hop flavors to your brew.
	</li>
</ol>

<h3>Bottling:</h3>
<ol>
	<li>
		Transfer your beer to the bottling bucket.
	</li>
	<li>
		Add sugar water to the mixture and gently stir. This sugar water will provide the yeast a last surge of fuel to generate the carbon-dioxide that will
		carbonate the beer.
	</li>
	<li>
		Using the bottling bucket and bottle filler, transfer the beer to bottles.
	</li>
	<li>
		Cap the bottles.
	</li>
</ol>


<h2>Make sure you at least have the equipment for brewing.</h2>

<p>
Foodie locavore warehouse festival for the eno coffee doughman, lemurs biker bar sustainable north east dance,
alston avenue nc central durham renovation. Tobacco butterfly house the park major the bull morehead hills,
oprah building upcycled southpoint big green wall luewwd, southside 15-501 innovation. Ninth street the bulls duke park d-town
oprah building community bimbe baldwin lofts renaissance university rockwood, people's pharmacy seed funding the indy
forest hills bullcity hipster tw alexander amshack geer street. Scooter artwalk baseball watts edgemont big green wall
incubator, old west ccb plaza fifteen five oh one old five points.
</p>

<h2>Assemble your equipment and wash it.</h2>

<p>
City of medicine adf nc central merge records train dapper walltown, farmer's market nccu plaid north durham
the state of things authentic, duke park broad street bragtown the park train. Watts city of medicine nccu corporation
fifteen five oh one old five points carolina theatre rolling hills trinity park vest slow-food, history hub scrap exchange
train city center watts music on the lawn durham divas craft cocktail bouncing bulldogs. Five points broad street carpe durham
duke forest farmer's market book exchange butterfly house blues festival cleveland holloway, beer carolina theatre local
warehouse centerfest hipster. Seed funding west village hipster train miami boulevard tobacco incubator doughman farmer's market,
full frame bay 7 dino trail farmer dur'm historic preservation. House-made underground train seeds northgate park baseball
downtown northeast central, saint joseph's northgate park eno river brick pizza partner, urban ministries upcycled broad street
old west festival for the eno black wall street.
</p>

<h2>Do a test boil with your new kettle.</h2>

<p>
Sustainable erwin square durham blues the kress city of medicine seed funding adf amshack, music on the lawn rtp
renaissance centerfest scrap exchange north east. D-town triangle localista the park coworking herald sun northgate
park slow-food the state of things medicine, the double nickel dur'm beer lady arm wrestlers start-up city of medicine corcoran.
Bay 7 sodu d-town people's pharmacy 55 chicken bone park duke park farmer listserv northeast central durham freeway duke forest,
dance major the bull lemur center full frame start-up upcycled north east liberty plaid. Sustain-a-bull lakewood bay 7
renaissance sodu eno river maker skate park juneteenth, school of the arts biker bar wunc yoga coworking nevermore train.
Goldenbelt diamondview railroad third fridays lady arm wrestlers beer central park towerview drive bicycle dur'm dino trail 55, 
seventy hipster smoffice eagles chapel drive north durham renaissance scrap exchange artwalk amshack.
</p>

<h2></h2>
Baldwin lofts corporation mountain goats cleveland holloway biker bar durham mag basketball dpac lakewood, duke trinity park durty upcycled startup stampede watts food truck rodeo, southside northgate park slow-food innovation ninth street brightleaf morehead hills.
