@{
    ViewBag.Title = "Fermentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fermentation</h1>
<p>
	One of the more mundane steps in home brewing, fermentation, is where you basically just wait...and wait......and wait. After some
	time following when you pitch your yeast and close your carboy, you should start to see air bubbles coming out of your airlock. It could start
	bubbling as soon as several hours after pitching the yeast, or take as long as several days. Don't fret if you don't see bubbles right away.
	Different yeast and different conditions can affect how soon it takes for your airlock to start bubbling. From my experience, the primary
	fermentation phase usually takes between 5 - 10 days. Once the bubbling stops completely, I usually wait another day or two before
	considering primary fermentation complete. You're not going to hurt anything by waiting longer, and you don't want to kill fermenation early
	because your gravity could suffer.
</p>
<iframe class="fhb-video-player" src="https://drive.google.com/file/d/1KsshoF08e-bHOoSKNvaG9y2-jypVxr4q_g/preview"></iframe>

<h2>Avoid light</h2>
<p>
	Exposing your beer to light can cause undesirable flavors. The easiest way to avoid light exposure is to just cover your carboy with
	the box that it shipped in. If, for some reason, you do not have the box, a dark towel and some clothespins will work as well. Don't use
	something super thick 
</p>

<h2>Maintain the correct temperature</h2>
<p>

</p>

<h2>Dry hopping</h2>