@{
    ViewBag.Title = "Bottling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bottling</h1>

<h2>Transferring the beer from the carboy to the bottling bucket</h2>

<h2>Adding the priming sugar</h2>

<h2>Getting the beer into the bottles</h2>

<h2>Capping the bottles</h2>

<h2>Waiting for the carbonation to finish</h2>

<h2>DRINK UP!!!</h2>
