@using FirstHomeBrew.Content.Resources
@{
    ViewBag.Title = "Bottling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bottling</h1>

<h2>Transferring the beer from the carboy to the bottling bucket</h2>
<p>
    Clean and sanitize your <a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.BottlingBucket)">bottling bucket</a>,
    <a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.BottleFiller)">bottle filler</a>, and <a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.PlasticTubing)">plastic tubing</a>. Using
    your siphon, transfer the beer from your carboy to the bottling bucket. Then, put the lid on your bottling bucket. MAKE SURE the spigot on your bottling bucket
    is closed before doing this, or you'll end up with wasted beer all over the place. Try not to transfer any of the trub (sediment at the bottom of the carboy) into the
    bottling bucket. Transferring trub will reduce the clarity of the final product and can cause off-flavors.
</p>
<img class="standalone-img" src="https://docs.google.com/uc?id=1aCSOZzv7PS_EpnbrYSOY3GMZmsNuYlkY6w" alt="Kettle Assembly"/>

<h2>Adding the priming sugar</h2>
<p>
    To reduce the risk of contamination, boil your priming sugar in a small amount of water (2 cups) and let it cool. Then, pour it directly into the bottling bucket.
    Mix the sugar into the beer using a sanitized stirring paddle. Put the lid back onto the bottling bucket. This sugar gives the yeast still remaining in your beer
    a little bit more food to produce the CO2 needed to carbonate the beer.
</p>
<img class="standalone-img" src="https://docs.google.com/uc?id=1SSb0IPoFvcmA0k142a52OMFfqF_WIcyq8g" alt="Kettle Assembly" />

<h2>Getting the beer into the bottles</h2>
<p>
    You'll need about 48 clean bottles for a 5 gallon brew. Right before filling them, you need to drop them in your sanitizing bucket for a few minutes.
    Now is the time to sanitize your bottle-filling wand and corresponding plastic tubing. After sanitizing, attach the tubing and bottle-filling wand to the spigot
    on the bottling bucket.
</p>
<img class="standalone-img" alt="beer fermenting" src="https://docs.google.com/uc?id=0B85D69XD8RQoS0Jkb0JYLWpxNDg" />
<p>
    The spring-loaded tip on the bottling wand allows you to precisely fill the bottles without spilling. Since the wand takes up some volume in the bottle, I fill
    my bottles to the rim. When you remove the wand from the bottle, the level will drop a little so that there is some distance between the top of the beer and the cap. I fill about
    6 bottles at a time and then cap them so that they're not exposed to the air for too long. 
</p>

<h2>Capping the bottles</h2>
<p>
    Sanitize the caps before capping the bottles. The act of capping is pretty self-explanatory. Always check to make sure the cap is on securely before moving on to the next
    bottle.  Don't use too much force when capping or you can easily crack the neck of the bottle.
</p>

<h2>Waiting for the carbonation to finish</h2>
<p>
    FIGHT THE URGE TO TRY YOUR BEER TOO EARLY! You've worked hard on this project, and you just want to try some of your own beer dammit! Don't do it...
    Beer will evolve in the bottles over time, so there's no exact science on deciding when it's the perfect time to consume. A solid rule of thumb is to wait at least 10 - 14 days
    before even thinking about popping one open. I usually find that about three weeks after bottling is the sweet spot. You also don't want to wait a really long time to
    drink them either.  For most home brew, you want to drink them within a couple of months after bottling.
</p>

<h2>DRINK UP!!!</h2>
<p>
    You've reached the promised land! Enjoy the fruits of your labor. Don't forget to think about your next brew and stock up on some more ingredients.
</p>
<img class="standalone-img" alt="beer fermenting" src="@Url.Content("~/Content/Images/stone_cold_beer_smash.jpg")"/>
