@using FirstHomeBrew.Content.Resources
@{
    ViewBag.Title = "Bottling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bottling</h1>

<h2>Transferring the beer from the carboy to the bottling bucket</h2>
<p>
    Clean and sanitize your <a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.BottlingBucket)">bottling bucket</a>,
    <a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.BottleFiller)">bottle filler</a>, and <a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.PlasticTubing)">plastic tubing</a>. Using
    your siphon, transfer the beer from your carboy to the bottling bucket. Then, put the lid on your bottling bucket. MAKE SURE the spigot on your bottling bucket
    is closed before doing this, or you'll end up with wasted beer all over the place.
</p>
<h2>Adding the priming sugar</h2>
<p>
    To reduce the risk of contamination, boil your priming sugar in a small amount of water and let it cool. Then, pour it directly into the bottling bucket.
    Mix the sugar into the beer using a sanitized stirring paddle.  Put the lid back onto the bottling bucket.
</p>
<h2>Getting the beer into the bottles</h2>
<p></p>

<h2>Capping the bottles</h2>

<h2>Waiting for the carbonation to finish</h2>

<h2>DRINK UP!!!</h2>
