@{
	ViewBag.Title = "Index";
}

<h1>Brew Your First Beer</h1>

<p>
	So, you've decided to give brewing a shot. You're pretty good at doing stuff on your own, and you've done some research
	on the web already. Heck, maybe you've even bought a book or two on homebrewing. Chances are that there are some gaps in
	what you've read, or that you're suffering from information overload.
	<br/>
	<blockquote class="italics">
		- Which carboy should I buy?
		<br />
		- What recipe should I start out with?
		<br />
		- I just want someone to walk me through it, step-by-step, for my first time.
		<br />
	</blockquote>	
	You're in the right place.  I'm going to hold your hand tight throughout the whole process.
</p>

<h2>Which equipment should I get?</h2>

<p>
	If you had a couple of plastic buckets and some plastic tubing, it would be <span class="italics">possible</span>
	for you to brew some beer. You don't really want to do it that way though. You want to have nice equipment
	so that you can replicate your efforts in the future, and minimize the amount of grunt work that you have to do.
	I'm going to show you a set of very specific products that are good for the beginning brewer.
	I won't show you the bare minimum to make a nice batch of beer, but I also won't give you the crème de la crème.
	You simply don't need to spend a million bucks to do this.  I'll explain why I've chosen each product.
</p>

<h2>How much will it cost?</h2>

<p>
	If you get the equipment I recommend, it will cost you about $300 to brew your first 5 gallons (about 48 12 oz. bottles)
	of beer. However, you'll only need to get ingredients and cleaner for subsequent brews. You will be brewing for
	< $1/beer. Plus, you get to show your friends how awesome you are by showing off your work.
</p>

<h2>How long will it take?</h2>

<p>
	I'm not even going to lie bro. It's going to take several weeks depending on the type of beer you're making.
	For this lesson, it's going to take about 3 - 4 weeks depending on a few variables.
</p>

<h2>How do I do I get started?</h2>

<p>
Start on the "<a href="@Url.Action("Index", "Preparation")">Preparation</a>" page to get on it.  
</p>
